body{
	margin:0;
	font-family: sans-serif;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
}

.preload{
	position:fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s ease;
}

.home{
	height: 100vh;
	overflow:hidden;
	position: relative;


}

.home .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1;
	display:none;
	padding:0 15px;
	animation: slide 2s ease;

}
.home .slide.active{
	display: flex;
}
@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.containero{
	max-width: 1170px;
	margin:auto;

}

.home .containero{
	 flex-grow: 1;
}
.home .caption{
	width:50%;
}
.home .caption h1{
	font-size:4.5vw;
  font-style:italic;
  font-weight: bold;

  /*font-variant: small-caps;*/
	color:#ffa630;
	margin:0;
  font-family:Helvetica;

}
.home .slide.active .caption h1{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;
}
.home .caption p{
	font-size: 1.5vw;
	margin:15px 0 30px;
  font-style: normal;
  font-weight: bold;
	color:#fff;
	margin:0;
  font-family:Helvetica;
}
.home .slide.active .caption p{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.2s;
}
.home .caption a{
 display: inline-block;
 padding:10px 30px;
 background-color: #000000;
 text-decoration: none;
 color:#ffffff;
}

.home .slide.active .caption a{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}

@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);
	}
}

.home .controls .prev,
.home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#ffffff;
 background-color: transparent;
 text-align: center;
 line-height: 40px;
 font-size:20px;
 cursor:pointer;
 transition: all .5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover{
	background-color: transparent;
}
.home .controls .prev{
 left:0;
}
.home .controls .next{
 right:0;
}

.home .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
}

.home .indicator div{
	display: inline-block;
	width:25px;
	height: 25px;
	color:#ffffff;
	background-color: transparent;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
	margin:0 3px;
}

.home .indicator div.active{
 background-color: #ffa630;
}
.line{
  width: 100%;
  height:3px;
  background: #ffa630;
  opacity:0;
  animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}


.line1{
  width: 70%;
  height:3px;
  background: #ffa630;
  opacity:0;
  animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}

/*responsive*/
@media(max-width: 767px){
	.controls{
		display: none;
	}
}

.centercaj{
  text-align: center;
	display:flex;
	align-items: center;

}

.centercaj1{
	  text-align: center;
	font-size:4.5vw;
  font-style:normal;
  font-weight: bold;

  /*font-variant: small-caps;*/
	color:#ffa630;
  font-family: Helvetica;
}

.cajder{
padding-top:0;

}

.justicaj{
  text-align: justify;
}

.triangulodown{
	width: 0;
	height: 0;
	border-right: 35vw solid transparent;
	border-left: 35vw solid rgba(43, 45, 54, 0.47);
	border-bottom: 70vw solid rgba(43, 45, 54, 0.47);
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;


}

.triangulodown1{
	width: 0;
	height: 0;
	border-right: 80vh solid transparent;
	border-left: 80vh solid rgba(43, 45, 54, 0.47);
	border-bottom: 300vh solid rgba(43, 45, 54, 0.47);

	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;


}
.trianguloup{
	width: 0;
	height: 0;
	border-right: 20vw solid transparent;
	border-left: 20vw solid rgba(43, 45, 54, 0.47);
	border-top: 90vw solid rgba(43, 45, 54, 0.47);

}

.triangulodownpos{
	position: absolute;
	left: -20px;



}
.triangulouppos{
	position: absolute;
	top: 0px;
	left: -20px;
}


.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }


.sombras{
	-webkit-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
}

.sombras1{
	padding: 10px;
	-webkit-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
}


.h6cen{

	text-align: center;
font-size:2em;
font-style:normal;
font-weight: bold;
color:rgb(53, 82, 92);
font-family:Helvetica;
}

.h6iz{

	text-align: left;
font-size:2em;
font-style:normal;
font-weight: bold;
color:#fff;
font-family:Helvetica;
}

.btn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}


@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}



.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.anima{


	animation: captionText .5s ease forwards;
	animation-delay:1s;
}

.blanco{
	color: #fff;

}


@keyframes mover {
	0%{
		opacity: 0;
		transform: translate(50%);
	}

}



.parallax {
  /* The image used */
  background-image: url("nuevaf.jpg");

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */

  background-attachment: fixed;
  background-position: center 70px;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  /* The image used */
  background-image: url("ara1.jpg");

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */

  background-attachment: fixed;
  background-position: center 70px;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax2 {
  /* The image used */
  background-image: url("asdfgh.png");


  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */

  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */

  background-image: url("guard.jpg");

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */

  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}




.backg{
	background-color: #eeeeee;
}


.foo{
	text-align: center;
	color: #f5f2ea;
}


.mapWrapper{
	position: relative;
	padding-bottom: 66.66%;
	height:0;
}


.mapWrapper iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.imgresponsive {
padding-left: 10px;
padding-right: 10px;
	height:80%;
	width:80%;
	text-align: center;


}

.hey{
padding: 0px;
}


@media only screen and (max-device-width: 800px) {
  .hey img{
		width: 100px;
		height: auto;
  }
}

@media only screen and (max-device-width: 800px) {
  .parallax {
    background-attachment: scroll;
		background-position: -600px center;

  }
}


@media only screen and (max-device-width: 800px) {
  .parallax1 {
    background-attachment: scroll;
		background-position: -150px center;
  }
}

@media only screen and (max-device-width: 800px) {
  .parallax2 {
    background-attachment: scroll;
		background-position: center center;
  }
}

@media only screen and (max-device-width: 800px) {
  .parallax3 {

    background-attachment: scroll;
  }
}


.butpad{
width: 20px;
height: 20px;
}

.menu-btn {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 1px solid rgba(203, 31, 31, 0);

}
.menu-btn__burger {
	  position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  width: 22px;
  height: 2px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  content: '';
  position: absolute;

  width: 22px;
  height: 2px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}



.menu-btn__burger::after {
  content: '';
  position: absolute;

  align-items: center;
  width: 22px;
  height: 2px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-5px);
}
.menu-btn__burger::after {
  transform: translateY(5px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}






.preload-finish{
	opacity: 0;
	pointer-events: none;
}



.icon-bar {
  position: fixed;
  bottom: 0%;
	z-index: 2;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: flex;
  text-align: center;
  padding: 2vh;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;


}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.whatsapp {
  background: #00bb2d ;
  color: white;


}

.content {
  margin-left: 75px;
  font-size: 30px;
}
